{# form #}
<div class="row form">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">{{ type }}</h3></div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-2 control-label">ILove</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="I love your...">
                        </div>
                    </div>
                    <button type="button" id="{{ id }}" class="btn btn-primary btn-rounded waves-effect waves-light m-b-5 pull-right">{{ type }}</button>
                </form>
            </div> <!-- panel-body -->
        </div> <!-- panel -->
    </div> <!-- col -->
</div>