/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.radial-bar {
    position           : relative;
    display            : inline-block;
    font-size          : 16px;
    border-radius      : 50%;
    border             : 2px solid #FAFAFA;
    background-color   : transparent;
    margin-bottom      : 20px;
    -webkit-box-sizing : content-box;
    -moz-box-sizing    : content-box;
    box-sizing         : content-box;
    width              : 80px;
    height             : 80px;
    font-size          : 18px;
}

.radial-bar:after,
.radial-bar > img {
    display       : inline-block;
    position      : absolute;
    top           : 0;
    left          : 0;
    border-radius : 50%;
    text-align    : center;
    font-weight   : bold;
    color         : #A1A2A3;
}

.radial-bar:after {
    content          : attr(data-label);
    background-color : #F0F0F0;
    z-index          : 101;
}

.radial-bar > img {
    z-index : 102;
}

.radial-bar:after,
.radial-bar > img {
    width       : 56px;
    height      : 56px;
    margin-left : 12px;
    margin-top  : 12px;
    line-height : 56px;
}

.radial-bar.radial-bar-0 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(90deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-5 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(108deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-10 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(126deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-15 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(144deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-20 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(162deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-25 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(180deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-30 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(198deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-35 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(216deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-40 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(234deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-45 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(252deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-50 {
    background-image : linear-gradient(270deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-55 {
    background-image : linear-gradient(288deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-60 {
    background-image : linear-gradient(306deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-65 {
    background-image : linear-gradient(324deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-70 {
    background-image : linear-gradient(342deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-75 {
    background-image : linear-gradient(360deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-80 {
    background-image : linear-gradient(378deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-85 {
    background-image : linear-gradient(396deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-90 {
    background-image : linear-gradient(414deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-95 {
    background-image : linear-gradient(432deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar.radial-bar-100 {
    background-image : linear-gradient(450deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-0 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(90deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-5 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(108deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-10 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(126deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-15 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(144deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-20 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(162deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-25 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(180deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-30 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(198deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-35 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(216deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-40 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(234deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-45 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(252deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-50 {
    background-image : linear-gradient(270deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-55 {
    background-image : linear-gradient(288deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-60 {
    background-image : linear-gradient(306deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-65 {
    background-image : linear-gradient(324deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-70 {
    background-image : linear-gradient(342deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-75 {
    background-image : linear-gradient(360deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-80 {
    background-image : linear-gradient(378deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-85 {
    background-image : linear-gradient(396deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-90 {
    background-image : linear-gradient(414deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-95 {
    background-image : linear-gradient(432deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-primary.radial-bar-100 {
    background-image : linear-gradient(450deg, #317EEB 50%, transparent 50%, transparent), linear-gradient(270deg, #317EEB 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-0 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(90deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-5 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(108deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-10 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(126deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-15 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(144deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-20 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(162deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-25 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(180deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-30 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(198deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-35 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(216deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-40 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(234deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-45 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(252deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-50 {
    background-image : linear-gradient(270deg, #33B86C 50%, transparent 50%, transparent), linear-gradient(270deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-55 {
    background-image : linear-gradient(288deg, #33B86C 50%, transparent 50%, transparent), linear-gradient(270deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-60 {
    background-image : linear-gradient(306deg, #33B86C 50%, transparent 50%, transparent), linear-gradient(270deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-65 {
    background-image : linear-gradient(324deg, #33B86C 50%, transparent 50%, transparent), linear-gradient(270deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-70 {
    background-image : linear-gradient(342deg, #33B86C 50%, transparent 50%, transparent), linear-gradient(270deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-75 {
    background-image : linear-gradient(360deg, #33B86C 50%, transparent 50%, transparent), linear-gradient(270deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-80 {
    background-image : linear-gradient(378deg, #33B86C 50%, transparent 50%, transparent), linear-gradient(270deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-85 {
    background-image : linear-gradient(396deg, #33B86C 50%, transparent 50%, transparent), linear-gradient(270deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-90 {
    background-image : linear-gradient(414deg, #33B86C 50%, transparent 50%, transparent), linear-gradient(270deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-95 {
    background-image : linear-gradient(432deg, #33B86C 50%, transparent 50%, transparent), linear-gradient(270deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-success.radial-bar-100 {
    background-image : linear-gradient(450deg, #33B86C 50%, transparent 50%, transparent), linear-gradient(270deg, #33B86C 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-0 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(90deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-5 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(108deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-10 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(126deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-15 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(144deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-20 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(162deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-25 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(180deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-30 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(198deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-35 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(216deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-40 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(234deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-45 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(252deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-50 {
    background-image : linear-gradient(270deg, #29B6F6 50%, transparent 50%, transparent), linear-gradient(270deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-55 {
    background-image : linear-gradient(288deg, #29B6F6 50%, transparent 50%, transparent), linear-gradient(270deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-60 {
    background-image : linear-gradient(306deg, #29B6F6 50%, transparent 50%, transparent), linear-gradient(270deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-65 {
    background-image : linear-gradient(324deg, #29B6F6 50%, transparent 50%, transparent), linear-gradient(270deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-70 {
    background-image : linear-gradient(342deg, #29B6F6 50%, transparent 50%, transparent), linear-gradient(270deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-75 {
    background-image : linear-gradient(360deg, #29B6F6 50%, transparent 50%, transparent), linear-gradient(270deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-80 {
    background-image : linear-gradient(378deg, #29B6F6 50%, transparent 50%, transparent), linear-gradient(270deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-85 {
    background-image : linear-gradient(396deg, #29B6F6 50%, transparent 50%, transparent), linear-gradient(270deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-90 {
    background-image : linear-gradient(414deg, #29B6F6 50%, transparent 50%, transparent), linear-gradient(270deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-95 {
    background-image : linear-gradient(432deg, #29B6F6 50%, transparent 50%, transparent), linear-gradient(270deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-info.radial-bar-100 {
    background-image : linear-gradient(450deg, #29B6F6 50%, transparent 50%, transparent), linear-gradient(270deg, #29B6F6 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-0 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(90deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-5 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(108deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-10 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(126deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-15 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(144deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-20 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(162deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-25 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(180deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-30 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(198deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-35 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(216deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-40 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(234deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-45 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(252deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-50 {
    background-image : linear-gradient(270deg, #FFD740 50%, transparent 50%, transparent), linear-gradient(270deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-55 {
    background-image : linear-gradient(288deg, #FFD740 50%, transparent 50%, transparent), linear-gradient(270deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-60 {
    background-image : linear-gradient(306deg, #FFD740 50%, transparent 50%, transparent), linear-gradient(270deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-65 {
    background-image : linear-gradient(324deg, #FFD740 50%, transparent 50%, transparent), linear-gradient(270deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-70 {
    background-image : linear-gradient(342deg, #FFD740 50%, transparent 50%, transparent), linear-gradient(270deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-75 {
    background-image : linear-gradient(360deg, #FFD740 50%, transparent 50%, transparent), linear-gradient(270deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-80 {
    background-image : linear-gradient(378deg, #FFD740 50%, transparent 50%, transparent), linear-gradient(270deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-85 {
    background-image : linear-gradient(396deg, #FFD740 50%, transparent 50%, transparent), linear-gradient(270deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-90 {
    background-image : linear-gradient(414deg, #FFD740 50%, transparent 50%, transparent), linear-gradient(270deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-95 {
    background-image : linear-gradient(432deg, #FFD740 50%, transparent 50%, transparent), linear-gradient(270deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-warning.radial-bar-100 {
    background-image : linear-gradient(450deg, #FFD740 50%, transparent 50%, transparent), linear-gradient(270deg, #FFD740 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-0 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(90deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-5 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(108deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-10 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(126deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-15 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(144deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-20 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(162deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-25 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(180deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-30 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(198deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-35 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(216deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-40 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(234deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-45 {
    background-image : linear-gradient(90deg, #FAFAFA 50%, transparent 50%, transparent), linear-gradient(252deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-50 {
    background-image : linear-gradient(270deg, #EF5350 50%, transparent 50%, transparent), linear-gradient(270deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-55 {
    background-image : linear-gradient(288deg, #EF5350 50%, transparent 50%, transparent), linear-gradient(270deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-60 {
    background-image : linear-gradient(306deg, #EF5350 50%, transparent 50%, transparent), linear-gradient(270deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-65 {
    background-image : linear-gradient(324deg, #EF5350 50%, transparent 50%, transparent), linear-gradient(270deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-70 {
    background-image : linear-gradient(342deg, #EF5350 50%, transparent 50%, transparent), linear-gradient(270deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-75 {
    background-image : linear-gradient(360deg, #EF5350 50%, transparent 50%, transparent), linear-gradient(270deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-80 {
    background-image : linear-gradient(378deg, #EF5350 50%, transparent 50%, transparent), linear-gradient(270deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-85 {
    background-image : linear-gradient(396deg, #EF5350 50%, transparent 50%, transparent), linear-gradient(270deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-90 {
    background-image : linear-gradient(414deg, #EF5350 50%, transparent 50%, transparent), linear-gradient(270deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-95 {
    background-image : linear-gradient(432deg, #EF5350 50%, transparent 50%, transparent), linear-gradient(270deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-danger.radial-bar-100 {
    background-image : linear-gradient(450deg, #EF5350 50%, transparent 50%, transparent), linear-gradient(270deg, #EF5350 50%, #FAFAFA 50%, #FAFAFA);
}

.radial-bar-lg {
    width     : 100px;
    height    : 100px;
    font-size : 20px;
}

.radial-bar-lg:after,
.radial-bar-lg > img {
    width       : 70px;
    height      : 70px;
    margin-left : 15px;
    margin-top  : 15px;
    line-height : 70px;
}

.radial-bar-sm {
    width     : 50px;
    height    : 50px;
    font-size : 12px;
}

.radial-bar-sm:after,
.radial-bar-sm > img {
    width       : 35px;
    height      : 35px;
    margin-left : 7.5px;
    margin-top  : 7.5px;
    line-height : 35px;
}

.radial-bar-xs {
    width     : 30px;
    height    : 30px;
    font-size : 8px;
}

.radial-bar-xs:after,
.radial-bar-xs > img {
    width       : 21px;
    height      : 21px;
    margin-left : 4.5px;
    margin-top  : 4.5px;
    line-height : 21px;
}

.radial-bar {
    background-clip : content-box;
}