{% extends "base.twig" %}
{% set type = "Update" %}
{% set id = "update" %}
{% set showClose = true %}

{% block page_title %}
    Edit Reassurance
{% endblock %}

{% block content %}
    {% include 'assure_form.twig' %}
    {# Table #}
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="m-b-30">
                        <h3>Reassurance</h3>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped" id="datatable-editable">
                <thead>
                <tr>
                    <th>Reassure</th>
                    <th>Synced</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% include 'load_reassurance.php' %}
                </tbody>
            </table>
        </div>
        <!-- end: page -->
    </div>
{% endblock %}

{% block scripts %}
    <script src="js/scripts/classes/models/Reassure.js"></script>
    <script src="js/scripts/reassure/manage.js"></script>
    <script src="js/scripts/general.js"></script>
{% endblock %}
