{% extends "base.twig" %}

{% set type = "Update" %}
{% set id = "update" %}
{% set showClose = true %}

{% block page_title %}
    Edit ILove
{% endblock %}

{% block content %}
    {% include 'ilove_form.twig' %}

    {# Table #}
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="m-b-30">
                        <h3>ILove</h3>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped" id="datatable-editable">
                <thead>
                <tr>
                    <th>ILove</th>
                    <th>Synced</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr class="gradeX">
                    <td>Trident</td>
                    <td>True</td>
                    <td class="actions">
                        <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- end: page -->
    </div>
{% endblock %}

{% block scripts %}
    <script src="js/scripts/classes/models/ILove.js"></script>
    <script src="js/scripts/ilove/manage.js"></script>
    <script src="js/scripts/general.js"></script>
{% endblock %}
