{% extends "base.twig" %}

{% set type = "Update" %}
{% set id = "update" %}
{% set showClose = true %}
{% block page_title %}
    Edit a Promise
{% endblock %}

{% block content %}
    {% include 'promise_form.twig' %}

    {# Table #}
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="m-b-30">
                        <h3>Promise</h3>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped" id="datatable-editable">
                <thead>
                <tr>
                    <th>Promise</th>
                    <th>Synced</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% include 'load_promises.php' %}
                </tbody>
            </table>
        </div>
        <!-- end: page -->
    </div>
{% endblock %}

{% block scripts %}
    <script src="js/scripts/classes/models/Promise.js"></script>
    <script src="js/scripts/promise/manage.js"></script>
    <script src="js/scripts/general.js"></script>
{% endblock %}
